*{
    font-family: serif;
}
.bg-orange {
    background-color: rgb(255, 183, 48) !important;
}

.navbar-logo {
    height: 70px;
    width: 70px;
}

/* #nav-item1 ,
#nav-item2,
#nav-item3 ,
#nav-item4{
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
} */


/* .nav-link {
    transition: all 0.5s;
} */
a{
    font-size: 19px;
    text-decoration: none;
    color: white;
    margin-right: 2vw;
    padding: 2px 20px;
}
a:hover{
    background-color: white;
    color: #ff9900;
    border-radius: 24px;
    /* padding: 2px 6px; */
}
/* .nav-link:hover {
    color: #ff9900 !important;
    background-color: white;
    border-radius: 16px;
}
.nav-login{
    background-color: white;
    color: #ff9900;
    border-radius: 20px;
    padding:10px 20px;
    font-family: "Roboto";
    font-size: large;
    font-weight: bold;
    text-decoration: none;
} */
/* .nav-login:hover{
    color: #e99e2e;
    text-decoration: none;
} */